header
  {background-color: #5ce1f4;
    font-family: "copperplate", 
    fantasy;
    font-size: 2.5em;
  }
  footer
  {background-color: #5ce1f4;
    font-family: "copperplate", fantasy;
    font-size: 1em;
  }